In [7]:
import torch
import pandas as pd
import numpy as np

In [37]:
all_monthly_data = pd.DataFrame(columns = ['Stn_No', 'Year', 'Lat', 'Long', 'Precip'])
path = r"E:\D1\f01\data\原始站点资料（有华南）\SURF_CLI_CHN_MUL_DAY-PRE-13011-201010.TXT"
data = pd.read_csv(path, sep = '\\s+', skiprows = 1, header = None)

In [38]:
print(data)

          0     1      2     3     4   5   6   7      8   9   10  11  12
0      50136  5258  12231  4330  2010  10   2   0      0   0   0   0   0
1      50136  5258  12231  4330  2010  10   3   0      0   0   0   0   0
2      50136  5258  12231  4330  2010  10   4   0      0   0   0   0   0
3      50136  5258  12231  4330  2010  10   5   0      0   0   0   0   0
4      50136  5258  12231  4330  2010  10   6   0      0   0   0   0   0
...      ...   ...    ...   ...   ...  ..  ..  ..    ...  ..  ..  ..  ..
75014  59985  1632  11137    40  2010  10  27  19  32700  19   0   0   0
75015  59985  1632  11137    40  2010  10  28   0      7   7   0   0   0
75016  59985  1632  11137    40  2010  10  29   9      4  13   0   0   0
75017  59985  1632  11137    40  2010  10  30   2      1   3   0   0   0
75018  59985  1632  11137    40  2010  10  31   0      7   7   0   0   0

[75019 rows x 13 columns]

In [39]:
data = data.replace([32700, 32766, 32001, 30001], np.nan)
# data = data[data[0] == 59312]

In [26]:
m8 = data[9].sum(axis=0)